<div class="container align-items-center col-4 mt-5">
	<div class="row">
		<div class="col w-100 m-auto">
			<div class="text-center mb-3">
				<img
					src="../../../assets/images/person-circle.svg"
					class="w-25"
					alt=""
				/>
			</div>
			<h4 class="mb-3 text-center fs-2">login</h4>
			<div class="form-floating mb-2">
				<input
					type="text"
					class="form-control"
					id="userName"
					placeholder="username"
				/>
				<label for="userName">username</label>
			</div>
			<div class="form-floating">
				<input
					type="password"
					class="form-control"
					id="password"
					placeholder="password"
				/>
				<label for="password">password</label>
			</div>
			<div class="form-check text-start my-3">
				<input
					class="form-check-input"
					type="checkbox"
					value="remember-me"
					id="flexCheckDefault"
				/>
				<label class="form-check-label" for="flexCheckDefault">
					Remember me
				</label>
			</div>
			<p>
				<a
					[routerLink]="['/forgot-password']"
					routerLinkActive="router-link-active"
					class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
					>Forgot password?</a
				>
			</p>

			<button class="btn btn-primary w-100 py-2" type="submit">
				Login
			</button>
			<hr class="my-4" />
			<a
				[routerLink]="['/register']"
				routerLinkActive="router-link-active"
			>
				<button
					class="btn btn-outline-primary w-100 py-2"
					type="button"
				>
					Register
				</button>
			</a>
		</div>
	</div>
</div>
