<div class="container">
	<div class="row">
		<div class="col align-items-center mt-5">
			<div class="col">
				<div class="row mx-auto align-items-center">
					<div class="col-9">
						<input
							type="text"
							name="eventSearch"
							id="eventSearch"
							class="form-control"
							placeholder="search events"
						/>
					</div>

					<div class="col-3">
						<button type="button" class="btn btn-primary col-12">
							search
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">
				<div class="col" *ngFor="let event of events">
					<div class="card shadow-sm btn border shadow-sm">
						<img
							src="../../../assets/images/event-card.svg"
							class="bd-placeholder-img card-img-top"
							alt=""
						/>
						<hr class="mb-1" />
						<div class="card-body">
							<h5 class="card-title fw-bold">
								{{ event.eventName }}
							</h5>
							<p class="card-text">
								{{ event.eventType }}
							</p>
							<div
								class="d-flex justify-content-between align-items-center"
							>
								<div class="btn-group">
									<a
										[routerLink]="['/event-details']"
										routerLinkActive="router-link-active"
									>
										<button
											type="button"
											class="btn btn-sm btn-outline-secondary"
										>
											View
										</button>
									</a>

									<button
										type="button"
										class="ms-1 btn btn-sm btn-outline-secondary"
									>
										Edit
									</button>
								</div>
								<small class="text-body-secondary">
									{{
										event.eventDate
											| date : "EEEE dd/MM/yyyy"
									}}
								</small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-4">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled">
							<a class="page-link">Previous</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">1</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">2</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">3</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
