<div class="container">
	<div class="row">
		<div class="col">
			<div class="row row-cols-3 mt-5">
				<div class="col" *ngFor="let event of events">
					<div class="card mb-3" style="width: 18rem">
						<img src="..." class="card-img-top" alt="..." />
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
								Some quick example text to build on the card
								title and make up the bulk of the card's
								content.
							</p>
							<a
								[routerLink]="['/event-details']"
								routerLinkActive="router-link-active"
								class="btn btn-primary"
								>event details</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
