<div class="container">
	<div class="row">
		<div class="col-10 mt-5">
			<div class="row">
				<div class="card text-bg-dark card-item">
					<img
						src="../../../assets/images/club-card.jpg"
						class="card-img img-card"
						alt="..."
					/>
					<div class="card-img-overlay">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							This is a wider card with supporting text below as a
							natural lead-in to additional content. This content
							is a little bit longer.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
